* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  nav {
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    position: absolute;
  }
  
  .logo {
    font-size: 2em;
    letter-spacing: 2px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  

  .premium .btn-22{
    
    color: white;
    padding: 12px;
    font-size: 20px;
    background-color: forestgreen;
    border-radius: 12px;
    width: 268px;

  }
  
  .login .btn {
    
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: forestgreen;
    margin-right: 40px;
    width: 90%;
  }
  
  .image-container {
    position: relative;
    object-fit: contain;
    padding: 20px;
    height: 75vh;
    width: 102%;
    background-image: url('image/R.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
  }
  .image-container h1 {
    
    font-family: 'Poppins';
    text-align: center;
    border-color: black;
    font-size: 2em;
    font-weight: bold;
    color:darkorange;
    text-shadow: black;
    margin: 0;
  }

.image-container p {
  border-color: black;
  font-family: 'Poppins';
  text-align: center;
  font-size: 0.5em;
  font-weight: lighter;
  color:darkorange;
  text-shadow: black;
  margin: 0;
}


  .left-container{
   padding: 20px;
   /* border:1px solid yellow; */
   
   margin-right: 20px;
   /* background-color: green; */
   height: 5200px;
   
   border: 1px solid black;
   
  }
.left-container .first-image img {

    padding: 10px;
    width: 100%;
    height: 730px;
   
  }
  .button-container {
    display: flex;
    
    padding: 20px;
    position: absolute;
   
   
    margin: auto 15% ;
    margin-left: 25%;
    gap: 10px;
   
}

/* Common Button Styles */
.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
   
    align-items: center;
    justify-content: center;
    gap: 5px; 
}


.live-preview {
    background-color: #1dcda9; 
    color: white;
}

.live-preview:hover {
    background-color: #17b390;
    transform: scale(1.05); 
}


.buy-product {
    background-color: #169bd5; 
    color: white;

}
  .text {
    
    padding-top: 10px;
    text-align: justify;
}


 

.right-container{ 
        align-items: right;
        
        
         
        
    
        flex: 1;
    /* background-color:yellow; */
}


.contribution-box {
        padding: 20px;
        background-color: #00b050;
        
        color: white;
       
        border-radius: 8px;
        
        font-size: 14px;
        text-align: center;
        
        margin-right: 15%;
        margin-top: 0%;
        width: 296px;
        height: 15vh;
  }
  .details-container {
    width: 300px;
    height: 15%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  .product-details .header {
    background-color: #1dcda9; 
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    
}

.details-list {
    list-style: none;
    padding: 15px;
   
    color: #333;
    font-size: 14px;
}

.details-list li {
    margin-bottom: 10px;
   
}

.details-list strong {
    font-weight: bold;
    color: #000;
}


.support-section {
    
    background-color: #f9f9f9;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #e0e0e0;
    font-weight: bold;
    color: #169bd5; 
    text-transform: uppercase;
    
}



.support-section p {
    padding: 30px;
    font-family: 'Poppins';
    font-size: 11.5px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
}


.contact-us {

    background-color:  darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.container{
        padding: 20px;
        position: absolute;
        justify-content: center;
        width: 83%;
        height: 5233px;
        margin: auto 10% ;
       
        /* border: 1px solid green; */
        display: flex;
        top: 600px; 
        /* background: red; */
    
       

}
.text-container{
    
    text-align: right;
    font-size: 1.1em; 
    font-family: 'Poppins';
    color: black;
    padding: 20px;
    margin-right: 15%;
    margin-top: 6%;
    width: 100%;
}
.left-container .second-image img{
  width: 100%;
    height: auto;
    /* margin: 15px; */
    padding: 10px;
    object-fit: cover;
}


.card {
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
  width: 20% ;
}
.card-content {
  padding: 2px 16px;
  /* height: 60px; */
  
}
.card-container{
  display: flex;
  width: 118%;
  gap: 20px;
  padding: 10px;
}
.card-container .card img{
  width: 100%;
  height: 130px;
}
.left-container h3{
  margin-bottom: 20px;
  text-align: center;
}



.third-container{
 
  background-color: lightblue;
    padding: 20px;
    width: 99.5%;
    
    display: flex;
    border-radius: 5px;
    
    gap: 10px;
    margin-top: 20px;

    
}
.image2-container{
  width: 70%;
  height: 60%;
}
.image2-container img{
  width: 100%;
  height: 17%;
}
.third-content{
  
  width: 100%;
  font-size: 12px;
 
 
  height: 10%;
 
}
.third-content h2{
  padding: 10px 10px;
}

.third-content p{
  padding: 10px 10px;
}
.third button{
  margin-top: 20px;
  
}

.third-button .btn1{
  display: inline-block;
    padding: 10px 10px;
   
    margin-left: 10px;
    text-decoration: none;
    font-size: 7px;
    color: white;
    background-color: darkolivegreen; 
    border-radius: 5px;
    
}



.service-container {
  text-align: center;
  padding: 20px;
 
}

.service-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  border-radius: 5px;
  
  color: black;
}



.service-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.service-card {
  background-color: #fff;
  border: 1px dashed #f2c94c;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */



.service-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #666;
}


.circle {
  position: relative;
  margin: 20px;
  height: 120px;
  width: 120px;
  background-color: orange;
  border-radius: 50%;
  margin-left: 48px;
}

.circle:before {
  position: absolute;
  content: '';
  height: calc(100% + 10px); 
  width: calc(100% + 10px); 
  border: 8px dashed orange;
  top: -13px;
  left: -13px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}

.circle .icon i{
  padding: 50px;
}




.feedback-section {
  text-align: center;
  margin-top: 20px;
  background-image: url('image/shadow.jpg');
  background-size: cover;
  background-position: center;

}

.feedback-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.feedback-section p {
  font-size: 1rem;

  margin-bottom: 40px;
}

.testimonial-card {
  display: flex;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 800px;
 
  /* height:800%;  */
  margin: 0 auto 50px;
 
}

.testimonial-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.testimonial-content {
  flex: 2;
  padding: 20px;
  text-align: left;
}

.testimonial-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

.testimonial-content p {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #555;
}

.testimonial-client {
  display: flex;
  align-items: center;
}

.testimonial-client img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-client span {
  font-weight: 400;
  color: #444;
}



.brand-section {
  background-color: #222;
  padding: 20px 0;
}

.brand-section h3 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
}

.brand-logos img {
  max-width: 100px;
  margin: 10px 20px;
  filter: brightness(0) invert(1);
}




.gallery-container {
  text-align: center;
  padding: 20px;
  object-fit: contain;
  
}

.gallery-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.Gal {
  font-size: 20px;
  
  margin-bottom: 15px;
}
.Gal .tab-1{

   padding: 5px;
}



.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.gallery-card {
  
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.image3-container {
  position: relative;
  
}

.image3-container img {
  width: 143%;
  height: 100%;
  
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.gallery-card h2 {
  font-size: 16px;
  margin: 15px 10px 5px;
}

.gallery-card p {
  font-size: 14px;
  color: #666;
  margin:  10px 15px;
}
